PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://user:password@localhost:5432/ems_db"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d

TB_URL=http://192.168.100.35:8082
TB_API_KEY=
TB_WEBHOOK_SECRET=

ENERGY_RETENTION_DAYS=90